:root {

    /* main colors */

    --white: #FFFFFF;
    --dark: #2E2C2C ;
    --light: #605F5F;
    --maroon: #4A0707;

}

* {

    font-family: 'Fira sans', sans-serif;

}



body {
    margin: 0;
    background-color: var(--dark);
}

header {

    color: var(--white);

}

header h1 { 

    font-size: 3rem;

}

header h2 {

    font-size: 2rem;

}

header h3 {

    font-size: 0.85rem;
    max-width: 600px;

}

.contentBoxes {

    justify-content: center;
    position: relative;


}

.experience, .projects, .organizations, .skills {

    background-color: var(--light);
    position: relative;
    text-align: center;
    border-radius: 25px;

}

.experience, .organizations, .skills {

    width: 400px;
    height: 300px;

}

.landing {
    position: relative;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Style all icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social a {
    font-size: 24px;
    padding: 4px;
    color: white;
}

.projects {

    width: 600px;
    height: 300px;

}

.experience h1, .projects h1, .organizations h1, .skills h1 {

    color: var(--white);
    font-size: 1.75rem;

}

.end-bar {

    text-align: center;
    background-color: var(--maroon);
    width: 100%;
    height: 100px;
    position: relative;

}

.end-bar h1{

    color: var(--white);
    font-size: 0.6rem;

}

#navigation {

    position: relative;

}