:root {
    /* main colors */
    --dark: #2E2C2C ;
    --light: #605F5F;
    --maroon: #4A0707;
}

* {
    font-family: 'Fira sans', sans-serif;
}

body {
    margin: 0;
    background-color: var(--dark);
    color: white;
}


header h1 { 
    font-size: 3rem;
}

header h2 {
    font-size: 2rem;
}

header h3 {
    font-size: 0.85rem;
    max-width: 600px;
}

.contentBoxes {
    position: relative;
}

.contentBoxes div {
    background-color: var(--light);
    position: relative;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#experience, #education, #projects, #organizations, #skills {
    padding-top: 12px; 
    padding-bottom: 20px;
}

.landing {
    position: relative;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
}

/* START style icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social a {
    font-size: 24px;
    padding: 4px;
    color: white;
    position: relative;
}

.social a:hover {
    opacity: 50%;
    color: white;
    font-size: 28px;
}

/* END style icons */

.end-bar {
    text-align: center;
    background-color: var(--maroon);
    width: 100%;
    padding-bottom: 20px;
    color: white;
}

.end-bar h3, a{
    padding-top: 20px;
    color: white;
}

.headshot-photo {
    border-radius: 50%;
    width: 60%;
}

#navigation {
    position: relative;
}